@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root
{
    --gray: #83A8Ac;
    --dark-blue: #1d3969;
    --light-blue: #0D80EE;
    --white: #fff;
    --red: #be1f24;
    --orange-light: #f89739;
    --orange-dark: #d46327;
    --gray: #252525;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    color: var(--orange-light);
    min-height: 100svh;
}

header{
    display: flex;
    justify-content: center;
    padding: 0.75em;
    width: 100%;
    background: var(--gray);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.80);
}

h1{
    font-size: 2.5rem;
    color: var(--white);
    text-decoration: underline;
    font-weight: 900;
}

main
{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    font-size: 1.25rem;
    font-weight: 600;
}

ul{
    list-style: none;
    display: grid;
    max-width: 1200px;
    min-width: 300px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

@media(max-width: 1025px){
    ul
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 750px){
    ul
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 375px){
    ul
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--red);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.80);
}

li > div {
    text-decoration: underline;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--red);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.80);
}

textarea{
    font-size: inherit;
    resize: none;
    min-height: 7rem;
    font-weight: 300;
}

textarea:focus-visible{
    outline: transparent;
}

section > span {
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

input{
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    width: min(12rem, 90%);
}

input:focus-visible{
    outline:transparent
}

footer{
    display: block;
    min-width: 100%;
    background-color: var(--gray);
    color: var(--white);
    text-align: center;
    padding: 0.6em;
}

a
{
    text-decoration: none;
    outline: 0;
    color: var(--white)
}

a:hover,
a:focus-visible
{
    color: var(--light-blue);
    transition: color 2s;
}
